<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<!-- 1. Connection String -->
	<connectionStrings>
		<add name="ShopDB"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=shopping;Integrated Security=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<!-- 2. AppSettings -->
	<appSettings>
		<add key="passmarks" value="35"/>
	</appSettings>

	<!-- 3. System Web Settings -->
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<customErrors mode="Off"/>

	<!--Custom Eroors-->
		<customErrors mode="On" defaultRedirect="~/Error.aspx">
			<error statusCode="404" redirect="~/NotFound.aspx"/>
			<error statusCode="500" redirect="~/ServerError.aspx"/>
		</customErrors>
	</system.web>

</configuration>
